.container-fluid {
	padding: 0;
}
.game-wrapper {
	border: 0px solid #eee;
    width: 100%;
    margin: 6em auto;
}
.game-wrapper .game-header {
	border-bottom: 1px solid #f5f5f5;
    padding-top: 0.4em;
    padding-bottom: 0.8em;;
}
.game-header .wrapper {
    border: 0px solid #0f0;
    width: 70%;
    margin: 0 auto;
    position: relative;
    min-height: 2.1em;
}
.game-header .wrapper > div {
    display: inline-block;
}
.game-header .branding {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    color: #0049CC;
    border: 0px solid #0f0;
    width: 40%;
    line-height: 1.4em;
    font-weight: bold;
}
.game-header .game-stats {
    position: absolute;
    right: 0;
    top: 0.3em;;
    border: 0px solid #f00;
    width: 60%;
    text-align: right;
    font-family: 'News Cycle', sans-serif;
    font-size: 1.5em;
}
.game-stats .stat {
    border: 1px solid #eee;
    display: inline-block;
    width: 28%;
    padding: 0.3em 0.6em 0.5em 0.3em;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 1px rgba(225,225,225,0.6);
    -moz-box-shadow: 0px 0px 1px rgba(225,225,225,0.6);
    box-shadow: 0px 0px 1px rgba(225,225,225,0.6);
    text-align: center;
}
.game-stats .stat .stat-label {
    color: #999;
    position: relative;
    right: 0.1em;
}
.game-stats .timer-holder {
    width: 23%;
}
.game-stats #timer {
    color: #F00;
}
.game-stats #current-score, .game-stats #high-score {
    color: #0088cc;
}
.game-wrapper .game-body {
    border-bottom: 1px solid #eee;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.game-body .wrapper {
    width: 70%;
    margin: 0 auto;
    border: 0px solid #bbb;
    position: relative;
    min-height: 25.1em;
}
.game-body .wrapper > div {
    float: left;
}
.game-body .controls {
    width: 33%;
    border: 0px solid #bbb;
    padding: 1em;
    font-family: 'News Cycle', sans-serif;
}
.game-body .controls .greeting {
    font-size: 3em;
}
.game-body .controls .how-to {
    font-size: 1.6em;
    line-height: 1.25em;
    display: block;
}
.controls .buttons {
    margin-top: 1em;
}
.controls .buttons .button {
    font-family: courier;
    font-weight: bold;
}
.game-body .game-area {
    width: 62.8%;
    height: 25em;
    border: 1px solid #eee;
    border-radius: 6px;
    margin-left: 0.5em;
    position: relative;
    -webkit-box-shadow: 0px 0px 1px rgba(190,190,190,0.6);
    -moz-box-shadow: 0px 0px 1px rgba(190,190,190,0.6);
    box-shadow: 0px 0px 6px rgba(190,190,190,0.6);
}
.game-body .game-area .summary {
    margin-top: 4em;
    font-size: 2.3em;
    line-height: 1.1em;
    font-family: 'Raleway', sans-serif;
    display: none;
    text-align: center;
    color: #000;
}
.game-body .game-area .summary .score {
    color: #00f;
}
.game-over {
	background-color: #ddd;
}
#dodgeball {
    background-color: #00f;
    width: 3em;
    height: 3em;
    /*border-radius: 1.5em;*/
    display: none;
    position: relative;
}