h1{font-family: 'News Cycle', sans-serif;color: blue;}
	body{background-color: #e8e8e8}
	.span12{position:relative;left: 50px;top:20px;}
	h2{font-family: 'News Cycle', sans-serif;}
	p{font-family: 'News Cycle', sans-serif;font-size:180%;}
	.span6{position:relative;top:30px;}
	#controls{width:350px;}
	#game-area{border:2px solid;border-radius:25px;height:400px;}
	div.a {width: 50px;height:50px;background-color:blue;position:relative;display:none}